@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .active {
    @media (hover: hover) {
      .menu li > *:not(ul, .menu-title, details, .btn):active,
      .menu li > *:not(ul, .menu-title, details, .btn).active,
      .menu li > details > summary:active {
        --tw-bg-opacity: 1;
        background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
        --tw-text-opacity: 1;
        color: var(--fallback-nc, oklch(var(--nc) / var(--tw-text-opacity)));
      }
    }
    .btm-nav > *:where(.active) {
      border-top-width: 2px;
      --tw-bg-opacity: 1;
      background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
    }
    .menu li > *:not(ul, .menu-title, details, .btn):active,
    .menu li > *:not(ul, .menu-title, details, .btn).active,
    .menu li > details > summary:active {
      --tw-bg-opacity: 1;
      background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
      --tw-text-opacity: 1;
      color: var(--fallback-nc, oklch(var(--nc) / var(--tw-text-opacity)));
    }
    .table tr.active,
    .table tr.active:nth-child(even),
    .table-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
    }
    .table tr.active,
    .table tr.active:nth-child(even),
    .table-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
    }
    .table-zebra tr.active,
    .table-zebra tr.active:nth-child(even),
    .table-zebra-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
    }
    .table-zebra tr.active,
    .table-zebra tr.active:nth-child(even),
    .table-zebra-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
    }
    .btm-nav-xs > *:where(.active) {
      border-top-width: 1px;
    }
    .btm-nav-sm > *:where(.active) {
      border-top-width: 2px;
    }
    .btm-nav-md > *:where(.active) {
      border-top-width: 2px;
    }
    .btm-nav-lg > *:where(.active) {
      border-top-width: 4px;
    }
  }
} */
