@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .subgrid {
    @apply grid grid-cols-subgrid grid-rows-subgrid;
  }
} */
/* Fix autofill background issue */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: var(--b1) !important;
  color: inherit !important;
  transition: background-color 9999s ease-in-out 0s;
} */
